{% set title = 'Details'%}
{% extends "base.twig" %}
{% block content %}
{#    {{ dump(weddingDate) }}#}
    <div class="container">
        <h3 class="page-heading pt-2 d-none d-md-block ">
            Inligting
        </h3>

        <div class="row details-page-header">
            <div class=" d-none d-md-block col-12 col-md-3 order-1 order-md-1 rounded details-page-header-img" style="
            background: url('{{ backgroundSideBanners }}') center;
            background-size: cover;
            height: 80vh;
            /*min-width: 300px;*/
            /*max-width: 400px;*/
            max-height: 600px;">
                <div class="d-md-none details-page-header-img-overlay"></div>
                <div class="text-light d-md-none position-absolute top-50 start-50 translate-middle">
                    <span class="details-page-header-headings-heading fancy-font">
                        Inligting
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-6 order-2 order-md-2" style="padding-top: 88px; padding-bottom: 30px;">
                <div class="row">
                    <div class="col montserrat text-end text-custom-gray" style="line-height: 54px; margin-right: -25px;">
                        <span style="
                                border-top: 2px solid;
                                padding: 5px 0;
                                border-bottom: 2px solid;
                                font-size: 17px;
                                text-transform: uppercase;
                                ">
                            {{ weddingDate.dayLong }}
                        </span>
                    </div>
                    <div class="col-5 col-md-4 fancy-font text-center text-custom-gray" style="
                    font-size: 41px;
                    font-weight: 700;">
                        {{ weddingDate.day }} <span style="
                        vertical-align: text-top;
                        font-size: 19px;
                        margin-left: -5px;">{{ weddingDate.daySuperScript }}</span>
                        {{ weddingDate.monthLong }}
                    </div>
                    <div class="col montserrat text-start text-custom-gray" style="line-height: 54px; margin-left: -25px;">
                        <span style="
                                width: 75px !important;
                                border-top: 2px solid;
                                padding: 5px 19px;
                                border-bottom: 2px solid;
                                text-align: center;
                                font-size: 17px;
                                ">
                            {{ weddingDate.yearLong }}
                        </span>
                    </div>
                </div>

                <div class="row" style="max-width: 384px; margin: 0 auto; font-size: 16px;">
                    {% if guestArrival %}
                    <div class="col-12 p-3 text-uppercase"  style="letter-spacing: 1px;">
                        {{ guestArrival }}
                    </div>
                    {% endif %}
                    {% if ceremonyStart %}
                    <div class="col-12 p-3 text-uppercase"  style="letter-spacing: 1px;">
                        {{ ceremonyStart }}
                    </div>
                    {% endif %}
                    <div class="col-12 p-3 " style=" letter-spacing: 1px;"  style="letter-spacing: 1px;">
                        {% if venueName %}
                        <span class="text-uppercase">
                            {{ venueName }}
                        </span>
                        <br>
                        {% endif %}
                        {% if venueLocation %}
                        <span class="fancy-font" style="font-size: 33px;
                                                        font-weight: 700;
                                                        letter-spacing: 2px;">
                            {{ venueLocation }}
                        </span>
                        {% endif %}
                    </div>
                    {% if dressCode %}
                    <div class="col-12 p-3 text-uppercase" style="letter-spacing: 1px;">
                        {{ dressCode }}
                    </div>
                    {%  endif %}
                    {% if reminderMessage %}
                    <div class="col-12 p-3">
                        <span class="montserrat" style="font-size: 11px;
                                letter-spacing: 2px;
                                text-transform: uppercase">
                            {{ reminderMessage }}
                        </span>
                    </div>
                    {% endif %}
                </div>
                <div class="row" style="max-width: 300px; margin: 10px auto 0;border-bottom: 1px solid"></div>
            </div>
            <div class="col-12 col-md-3 order-1 order-md-3 rounded details-page-header-img" style="
            background: url('{{ backgroundSideBanners }}') center;
            background-size: cover;
            height: 80vh;
            /*min-width: 300px;*/
            /*max-width: 400px;*/
            max-height: 600px;">
                <div class="d-md-none details-page-header-img-overlay"></div>
                <div class="text-light d-md-none position-absolute top-50 start-50 translate-middle">
                    <span class="details-page-header-headings-heading fancy-font">
                        Inligting
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}