{% set title = "Home"%}
{% extends "base.twig" %}
{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide bg-light home-carousel" data-bs-ride="carousel">
    <div class="carousel-overlay-img">
        <div class="carousel-overlay-img-headers position-absolute top-50 start-50 translate-middle">
{#            <img width="60" src="{{baseUrl}}/images/rabie-wedding/icon.png" />#}

{#             @TODO Make it more dynamic for other users#}
            <h3 class="carousel-overlay-img-headers-wedding-title">
                {{data.wedding_title}}
                <span class="carousel-overlay-img-headers-wedding-title-subtitle montserrat">we're getting married</span>
            </h3>
            <div class="carousel-overlay-img-headers-wedding-date montserrat">{{data.wedding_date}}</div>
            <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#rsvp-modal-toggle" style="display: block; margin: 2px auto 0 auto; border-radius: 0; width: 94px;">
                RSVP
            </button>
        </div>
        <div id="counter" style="margin-bottom: 65px;" class="position-absolute bottom-0 start-50 translate-middle-x text-light">
            <div class="row">
                <div class="col-3 p-1">
                    <span class="count-down-card-title montserrat">DAYS</span>
                    <span id="days" class="count-down-card">362</span>
                </div>
                <div class="col-3 p-1">
                    <span class="count-down-card-title montserrat">HRS</span>
                    <span id="hours" class="count-down-card">362</span>
                </div>
                <div class="col-3 p-1">
                    <span class="count-down-card-title montserrat">MIN</span>
                    <span id="min" class="count-down-card">362</span>
                </div>
                <div class="col-3 p-1">
                    <span class="count-down-card-title montserrat">SEC</span>
                    <span id="seconds" class="count-down-card">362</span>
                </div>
            </div>
{#            <div id="days" class="count-down-card">#}
{#                <span>Days</span>#}
{#                265#}
{#            </div>#}
{#            <div id="hours" class="count-down-card">#}
{#                53#}
{#            </div>#}
{#            <div id="min" class="count-down-card">#}
{#                40#}
{#            </div>#}
{#            <div id="seconds" class="count-down-card">#}
{#                10#}
{#            </div>#}
        </div>
{#      s  <span id="flipdown" class="flipdown position-absolute bottom-0 start-50 translate-middle-x text-light"></span>#}
    </div>
    <div class="carousel-inner">
        {% for img in data.carousel_imgs%}
            <div class="carousel-item {{loop.index == 1? 'active' : ''}}">
                <div class="carousel-item-img d-none d-sm-block" style="background-image: url('{{img.standard}}')"></div>
                <div class="carousel-item-img d-block d-sm-none" style="background-image: url('{{img.mobile}}')"></div>
            </div>
        {% endfor %}
    </div>
</div>
{% include "snippets/modals/rsvp-modal.twig"%}

{#<section class="more-information" id="homepage-more-info">#}
{#    <h3 class="center-heading">#}
{#        General Info#}
{#    </h3>#}
{#    <div class="row gx-3 more-information-cards-container">#}
{#        <div class="card col-12 col-sm-4">#}
{#            <div class="rounded more-information-cards-container-card"  onclick="location.href = 'accommodation'">#}
{#                <img src="{{baseUrl}}/images/icons/accomodation.png">#}
{#                <span>#}
{#                    Where To Stay?#}
{#                </span>#}
{#            </div>#}
{#        </div>#}
{#        <div class="card col-12 col-sm-4">#}
{#            <div class="rounded more-information-cards-container-card" onclick="location.href = 'gift-registry'">#}
{#                <img src="{{baseUrl}}/images/icons/gift.png">#}
{#                <span>#}
{#                    Need Gift Ideas?#}
{#                </span>#}
{#            </div>#}
{#        </div>#}
{#        <div class="card col-12 col-sm-4">#}
{#            <div class="rounded more-information-cards-container-card">#}
{#                <img src="{{baseUrl}}/images/icons/accomodation.png">#}
{#                <span>#}
{#                    Need more here liefie?#}
{#                </span>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}


<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Mar 20, 2023 15:30:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById('days').innerText= days.toString();
        document.getElementById('hours').innerText= hours.toString();
        document.getElementById('min').innerText= minutes.toString();
        document.getElementById('seconds').innerText= seconds.toString();

        // // If the count down is finished, write some text
        // if (distance < 0) {
        //     clearInterval(x);
        //     document.getElementById("counter").innerHTML = "IT IS HERE";
        // }
    }, 1000);
</script>
{#<pre>#}
{#    {{ dump(session) }}#}
{#</pre>#}
{% endblock %}

